<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="EPSILON Regression Suite">
	<test name="Regression Test">
	<parameter name="browser" value="Chrome"/>
	

		<classes>


			<class name="tests.CompetitionsTabTest" />
			<class name="tests.UserLoginTest" />
			<class name="tests.AdminLoginTest" />
			<class name="tests.AddNewUserTest" />
			<class name="tests.ScrolltobottomTest" />
		</classes>
	</test>
</suite> 
